body, html {
  height: 100%;
}

object {
  min-width: 100%;
  min-height: 100%;
}

#lstopo {
  padding: 0;
  margin: 0 auto;
}

.animate {
  transition: all .5s;
}

.expanded {
  transform: translateY(300)
}

rect {
  transition: all 700ms ease-in-out;
  cursor: pointer;
}

text {
  transition: all 700ms ease-in-out;
  pointer-events: none;
}

line {
  transition: all 700ms ease-in-out;
}

circle {
  transition: all 700ms ease-in-out;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-moz-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-o-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-ms-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}